* text=auto eol=crlf
*.sh text eol=lf
relay_server/*.py text eol=lf
relay_server/*.md text eol=lf

*.bin binary
*.ico binary
*.png binary
*.zip binary
*.7z binary
*.exe binary
*.dll binary
*.pdb binary
